
$titlecolor: #010101;


@mixin titleDescr{
    font-weight: 400;
    font-size: 20px;
    color:  #313841;
    line-height: 24px;
    text-align: center;
}


@mixin container{
    width: 940px;
    margin: 0 auto;
}

@mixin leadTitle{
    font-weight: 700;
    font-size: 32px;
    color:  $titlecolor;
    line-height: 32px;
    text-align: center;

}

@mixin FeaturesTitle{
    color:  $titlecolor;
    font-size: 22px;
    
    font-weight: 400;
    line-height: 24px;
}

@mixin FeaturesDescr{
    color:  #898989;
    font-weight: 400;
    line-height: 20px;
}


@mixin placeholder{
    color:  #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   
    padding: 19px 0 21px 21px;
}

@mixin Descr{
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
}

@mixin large {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 769px) {
        @content;
    }
}

@mixin extraSmall {
    @media screen and (max-width: 451px) {
        @content;
    }
}

@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}